SMcBReportSubmission.aux
SMcBReportSubmission.log
SMcBReportSubmission.bbl
SMcBReportSubmission.bcf
SMcBReportSubmission.fdb_latexmk
SMcBReportSubmission.fls
SMcBReportSubmission.run.xml
SMcBReportSubmission.blg
SMcBReportSubmission.pdf
SMcBReportSubmission.synctex.gz
SMcBReportSubmission.bbl-SAVE-ERROR
SMcBReportSubmission.toc
SMcBReportSubmission.synctex(busy)